*{
    padding:0px;
    margin:0px;
}

body{
    background: #eee;
}

#main{
    border:2px solid green;
    height:55vh;
    width:40vw;
    margin:auto;
    background: white;


}

.block{
    margin:6% 13%;
    font-size: 1.2rem;
}

button{   
   height: 34px;
   border: none;
   outline: none;
   background: #40ba55;
   cursor: pointer;
   font-size: 1.1rem;
   color: #eee;
   border-radius: 4px;
}

.btn button{
    width:45%;
    margin-bottom:40px;
}

.sheet button{
    width:100%;
    margin-top: 32px;
}

.btn #firstBtn{
    background-color:rgb(56, 12, 56);
    margin-right:8.7%;
}
.btn #secondBtn{
    background-color:rgb(201, 71, 71);
}

