*{
    margin:0px;
    padding:0px;
}

.leftMain{
    border:2px solid green;
    height:100%;
    width:50%;
    background-color: rgb(250, 245, 245);
}

.rightMain{
    border:2px solid green;
    height:100%;
    width:50%;
    background-color: rgb(245, 243, 243);
}
/* for aligning the left as well as right column part */
.rightMain form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.formPart{
    /* border:2px solid blue; */
    display:flex;    
}

.form-group{
    /* border:2px solid violet; */
    display:flex;
    flex-direction:column;
    margin:12px 16px ;
    width:17vw;
}

.main{
    /* border:2px solid black; */
    display:flex;
    justify-content:center;
    height:58vh;
    width:70vw;
    margin:auto;
    align-items: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}


#upper a{
    color: green;
    font-size: 1.35rem;
}

input{
    height:1.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    padding:2px 5px;
    /* border-color: green; */
    /* color:green; */
}

label{
    font-size: 1.2rem;
}

/* margin btw heading and box */
#upper{
    /* border:2px solid red; */
    margin-top:15px;
    margin-bottom:15px;
}


#lower{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for lower button */
#lower button{
    border:2px solid green;
    width:133px;
    height: 40px;
    font-size:larger;
    background-color: rgb(55, 122, 55);
    color:white;
    border-radius: 13px;
    cursor: pointer;
    margin: 8px 4px;
}

#lower button:hover{
    color:rgb(237, 234, 234);
    background-color: rgb(10, 103, 10);
}


#lower a{
    color:white;
    text-decoration: none;
}


