body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin: 1rem;
}
.heading h2 {
  font-size: 2.5rem;
}
.heading p {
  font-size: 1.8rem;
}
.heading a {
  text-decoration: none;
}

.container {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_element .left {

  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.container_element .right {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.left_element {
  display: flex;
}
.label_input {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.container_element label {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.container_element input {
  padding: 0.3rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  border: 1px solid #40ba55;
  border-radius: 4px;
}
.btn {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: #40ba55;
  border: none;
  border-radius: 3px;
  padding: 0.2rem 5rem;
  cursor: pointer;
}